body {
	font-family: 'Montserrat', sans-serif;
}

.sidebar-heading {
	padding: 20px 0;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
}

#sidebar-wrapper {
	box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
}

#top-navbar {
	width: calc(100% - 15rem);
	left: 15rem;
	z-index: 200;
}

.card-hover {
	transition: opacity 0.12s ease-in;
}
.card-hover:hover {
	opacity: 0.9;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}